name: Schedule Label Change Action

on:
  #schedule:
  #  - cron: '*/15 * * * *' # Runs every 15 minutes
  workflow_dispatch: # Allows manual trigger

jobs:
  check_and_run:
    runs-on: ubuntu-latest

    steps:
    - name: Get the last workflow run
      id: last-run
      run: |
        curl -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
          -H "Accept: application/vnd.github+json" \
          https://api.github.com/repos/${{ github.repository }}/actions/runs?branch=${{ github.ref_name }} \
          | jq -r '.workflow_runs[] | .name' > last_run_info.txt

    - name: Check if last run was labels changed
      id: check-last-run
      run: |
        last_name=$(head -n 2 last_run_info.txt | tail -n 1)
        echo "Last workflow name: $last_name"
        if [ "$last_name" != "Schedule Label Change Action" ] && [ "$last_name" != "Build and Deploy" ]; then
          echo "should_run=true" >> $GITHUB_ENV
        else
          echo "should_run=false" >> $GITHUB_ENV
        fi

    - name: Run "Build and Deploy"
      if: env.should_run == 'true'
      run: gh workflow run build-and-deploy.yml --ref ${{ github.ref }}
